extends layout

block content
  h1= title

  div(class="container-fluid")
        div(class="row")
            -
                let universities = results
            each university in universities 
                div(class="col-sm-2") #{university.name}
                div(class="col-sm-2") #{university.location}
                div(class="col-sm-2") #{university.ranking}
                - let destination = `dispatch(\"/university/update?id=${university._id}\")`
                div(class="row-sm-2", class="m-1") University #{university.name}(#{university.location}) is #{university.ranking}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
            script.
                function dispatch(path){
                window.location.href=path
                }